.btn-detail{
    margin-left: 0px !important;
}
.para{
    text-align: center;
    font-size: 15px;
}
.iconuser{
    font-size: 30px;
//margin-left: 153px;
    padding-right: 0px;
    margin-left: 46%;
    margin-right: 46%;
    color: #009688;
}
.litt-name{
    font-size: 15px;
    text-align: center;
    color: #009688;
}

.one{
    padding-top: 2%;
    background-color: #eee;
    box-shadow: 0px 1px 5px green;
}
/*
.one:hover{
    box-shadow: 4px 4px 6px gray,-4px -4px 6px gray;
}*/

@media (max-width: 768px){
    .one{
        margin-top: 5px;
        box-shadow: 0 0 0 white;
    }
}
/*
@media (max-width: 500px) {
    .pagination{
          margin-left: 30%;
    }
}*/
